body {
  font-family: "Raleway", sans-serif;
  width: 1400px;
  margin: auto;
  box-sizing: border-box;
}



#logo {
  width: 61.09px;
  height: 19px;
  margin-left: 28px;
}
#logo:hover {
  transform: scale(1.05);
  opacity: 1;
}

.navLogo {
  margin: 44px 0px 63px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*icon*/

.fa-solid {
  color: #0065fc;
}

.lastStar {
  color: #f2f2f2;
}
/*icon*/

/*Navigation*/
.nav-home:hover {
  color: #0065fc;
  text-decoration: none;
  border-top: 2px solid #0065fc;
  padding-top: 44px;
}

.nav-activity:hover {
  color: #0065fc;
  text-decoration: none;
  border-top: 2px solid #0065fc;
  border-top-width: 100%;
  padding-top: 44px;
}

.nav-home {
  color: black;
  text-decoration: none;
  padding: 22px;
  margin-right: 5px;
}

.nav-activity {
  color: black;
  text-decoration: none;
  padding: 22px;
}

.nav-main {
  margin-right: 35px;
  text-align: right;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
/*Navigation*/

/*Title*/

#title {
  margin-left: 28px;
}

#title h1 {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin: 0%;
}

#title p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 8px 0px 20px 0px;
}
/*Title*/

/*Barre de recherche*/
.fa-location-dot {
  color: black;
  border: 1px solid #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  background-color: #f2f2f2;
  padding: 16px 18px;
}

.search-bar {
  display: flex;
  margin: 0px 0px 31px 28px;
}

#search-text {
  padding: 14px 0px 14px 16px;
  border: 1px solid #f2f2f2;
  font-size: 16px;
  font-weight: 700;
  width: 210px;
}

#search-button {
  background-color: #0065fc;
  color: white;
  border: none;
  border-radius: 0px 15px 15px 0px;
  cursor: pointer;
  opacity: 0.9;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 700;
}

#search-button:hover {
  transform: scale(1.02);
  opacity: 1;
}
/*barre de recherche*/

/*Filtres*/
.filtres {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 914px;
  height: 50px;
  margin-left: 35px;
}

#filtretitle {
  font-weight: 700;
  font-size: 18px;
}

.filtres p {
  font-size: 17px;
  font-weight: 700;
}

.filtresAttribut {
  margin: 10px;
}

.iconFiltre {
  margin-right: 5px;
}

.filtres button {
  background-color: white;
  border: 2px solid #d9d9d9;
  border-radius: 50px;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
}

.filtres button:hover {
  background-color: #deebff;
}
/*Filtres*/

/*info*/
.info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-weight: 400;
  font-size: 16px;
  margin: 38px 0px 39px 32px;
  align-items: center;
}
.info span {
  border: 1px solid #d9d9d9;
  border-radius: 100%;
  width: 24px;
  line-height: 24px;
  text-align: center;
  margin-right: 11px;
  font-size: 12px;
  cursor: help;
}
/*info*/

.homePopularFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:0px 26px 0px 26px;
  width: auto;
}

/*Hebergement à marseille*/

.home {
  width: 880px;
  height: 626px;
  background-color: #f2f2f2;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
}

.home a:link {
  text-decoration: none;
  color: black;
}

.home a:visited {
  text-decoration: none;
  color: black;
}

#Cannebiere,
#hotelMer {
  margin-left: 45px;
}

.home h2 {
  font-size: 22px;
  font-weight: 700;
  align-self: flex-start;
  margin: 42px 400px 0px 40px;
}

.hotel {
  width: 246px;
  height: 199px;
  background-color: #fff;
  border-radius: 20px;
  margin: -15px 0px 0px 31px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.hotel img {
  width: 236px;
  height: 114px;
  border: 5px solid white;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.hotel h3 {
  font-size: 16px;
  font-weight: 700;
  margin: 0px 26px 5px 16px;
}

.hotel p {
  font-size: 14px;
  font-weight: 400;
  margin: 0px 26px 8px 16px;
}

.hotel:hover {
  transform: scale(1.025);
}

.iconStar {
  display: flex;
  flex-direction: row;
  width: 12px;
  height: 12px;
  margin-left: 16px;
  font-size: 12px;
}

.TextHotel {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

#afficherPlus {
  font-size: 18px;
  font-weight: 700;
  margin: 0px 400px 0px 44px;
}

#afficherPlus:link {
  color: black;
  text-decoration: none;
}

#afficherPlus:visited {
  color: black;
  text-decoration: none;
}

/*Hebergement à marseille*/

/*MostPopular*/

.homePopular {
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
  border-radius: 20px;
  width: 420px;
  height: 625px;
  flex-wrap: wrap;
  justify-content: center;
}

.homePopular a:link {
  color: black;
  text-decoration: none;
}

.homePopular a:visited {
  color: black;
  text-decoration: none;
}

.PopularTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0%;
  height: 62px;
}

.homePopular h4 {
  margin: 41px 66px 0px 37px;
  font-size: 22px;
  font-weight: 700;
}

.fa-chart-line {
  width: 18px;
  height: 15.75px;
  margin: 46px 42px 31.25px;
}

.PopularHotelflex {
  width: 343px;
  height: 144px;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: row;
}

.PopularHotelflex:hover {
  transform: scale(1.025);
}

.homePopular img {
  width: 127px;
  height: 134px;
  border: 5px solid white;
  border-radius: 20px 0px 0px 20px;
  object-fit: cover;
}

.homePopular h3 {
  font-size: 16px;
  font-weight: 700;
  margin: 16px 20px 7px 15px;
}

.textPopular {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.textPopular p {
  font-size: 14px;
  font-weight: 400;
  margin: 0px 0px 0px 15px;
  flex: 1;
}

.popularIcon {
  font-size: 12px;
  margin: 16px 0px 12px 15px;
}

/*Most Popular*/

/*Activity*/

.activity {
  margin:0px 26px 0px 26px;
  width: auto;
}

.ActivityVignetteFlex {
  display:flex;
  justify-content: space-between;
}

.activity a:link {
  color: black;
  text-decoration: none;
}

.activity a:visited {
  color: black;
  text-decoration: none;
}

.activity h5 {
  font-size: 22px;
  font-weight: 700;
  margin: 60px 1000px 18.47px 0px;
}

.activity p {
  font-size: 16px;
  font-weight: 700;
  margin-left: 19px;
}

.activityFlex {
  width: 302px;
  height: 444.51px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.activityFlex:hover {
  transform: scale(1.025);
  transition-duration: 0.75s;
  transition-delay: 0.25s;
}

.activity img {
  width: 302px;
  height: 389px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
/*Activity*/

/*Footer*/

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  height: 225px;
  background-color: #f2f2f2;
  margin: 61px 26px 0px 26px;
  width: auto;
}

.footerFlex {
  display: flex;
  flex-direction: column;
  width: 1295px;
}

.footerFlex:nth-child(1) {
  margin-left: 70px;
}

.footerFlex:nth-child(3) {
  margin-right: 28px;
}

footer h6 {
  font-size: 18px;
  font-weight: 700;
  margin: 45px 0px 0px 0px;
}

footer ul {
  font-size: 16px;
  font-weight: 400;
  margin: 0px 0px 0px 0px;
  padding-left: 0%;
  margin-top: 20px;
}

footer li {
  margin-bottom: 12px;
}

footer a:link {
  text-decoration: none;
  color: black;
}

footer a:visited {
  color: black;
}

footer a:hover {
  color: #0065fc;
}
/*Footer*/
