body {
  font-family: "Raleway", sans-serif;
  max-width: 1400px;
  margin: auto;
  box-sizing: border-box;
}

#logo {
  width: 61.09px;
  height: 19px;
  margin-left: 28px;
}
#logo:hover {
  transform: scale(1.05);
  opacity: 1;
}

.navLogo {
  margin: 44px 0px 63px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*icon*/

.fa-solid {
  color: #0065fc;
}

.lastStar {
  color: #f2f2f2;
}

/*icon*/

/*Navigation*/
.nav-home:hover {
  color: #0065fc;
  text-decoration: none;
  border-top: 2px solid #0065fc;
  padding-top: 44px;
}

.nav-activity:hover {
  color: #0065fc;
  text-decoration: none;
  border-top: 2px solid #0065fc;
  padding-top: 44px;
}

.nav-home {
  color: black;
  text-decoration: none;
  padding: 22px;
  margin-right: 5px;
}

.nav-activity {
  color: black;
  text-decoration: none;
  padding: 22px;
}

.nav-main {
  margin-right: 35px;
  text-align: right;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
/*Navigation*/

/*Title*/

#title {
  margin-left: 28px;
}

#title h1 {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin: 0%;
}

#title p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 8px 0px 20px 0px;
}
/*Title*/

/*Barre de recherche*/
.fa-location-dot {
  color: black;
  border: 1px solid #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  background-color: #f2f2f2;
  padding: 16px 18px;
}

.search-bar {
  display: flex;
  margin: 0px 0px 31px 28px;
}

#search-text {
  padding: 14px 0px 14px 16px;
  border: 1px solid #f2f2f2;
  font-size: 16px;
  font-weight: 700;
  width: 60%;
  max-width: 210px;
}

#search-button {
  background-color: #0065fc;
  color: white;
  border: none;
  border-radius: 0px 15px 15px 0px;
  cursor: pointer;
  opacity: 0.9;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 700;
}

#search-button:hover {
  transform: scale(1.02);
  opacity: 1;
}

#search-button .fa-magnifying-glass {
  display: none;
}
/*barre de recherche*/

/*Filtres*/
.filtres {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 914px;
  height: 50px;
  margin-left: 35px;
}

#filtretitle {
  font-weight: 700;
  font-size: 18px;
}

.filtres p {
  font-size: 17px;
  font-weight: 700;
}

.iconFiltre {
  margin-right: 5px;
}

.filtres button {
  background-color: white;
  border: 2px solid #d9d9d9;
  border-radius: 50px;
  cursor: pointer;
  height: 46px;
  padding: 0px 16px 0px 16px;
  font-weight: 700;
  font-size: 17px;
}

.filtres button:hover {
  background-color: #deebff;
}
/*Filtres*/

/*info*/
.info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-weight: 400;
  font-size: 16px;
  margin: 38px 0px 39px 32px;
  align-items: center;
}
.info span {
  border: 1px solid #d9d9d9;
  border-radius: 100%;
  max-width: 24px;
  width: 100%;
  line-height: 24px;
  text-align: center;
  margin-right: 11px;
  font-size: 12px;
  cursor: help;
}
/*info*/

.homePopularFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 26px;
  margin: auto;
  width: auto;
  padding: 0px 20px;
}

/*Hebergement à marseille*/

.home {
  max-width: 880px;
  width: 100%;
  height: 626px;
  background-color: #f2f2f2;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
}

.home a:link {
  text-decoration: none;
  color: black;
}

.home a:visited {
  text-decoration: none;
  color: black;
}

.home h2 {
  font-size: 22px;
  font-weight: 700;
  align-self: flex-start;
  flex-basis: 100%;
  margin: 40px 0px 0px 35px;
}

.hotel {
  max-width: 234px;
  min-width: 187px;
  width: 27%;
  height: 194px;
  background-color: #fff;
  border-radius: 20px;
  padding: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.hotel img {
  width: 100%;
  height: 119px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.hotel h3 {
  font-size: 16px;
  font-weight: 700;
  margin: 0px 0px 5px 10px;
}

.hotel p {
  font-size: 14px;
  font-weight: 400;
  margin: 0px 0px 8px 10px;
}

.hotel:hover {
  transform: scale(1.025);
}

.iconStar {
  display: flex;
  flex-direction: row;
  width: 12px;
  height: 12px;
  margin-left: 10px;
  font-size: 12px;
}

.TextHotel {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-top: 5px;
}

#afficherPlus {
  font-size: 18px;
  font-weight: 700;
  flex-basis: 100%;
  margin: 0px 0px 0px 35px;
}

#afficherPlus:link {
  color: black;
  text-decoration: none;
}

#afficherPlus:visited {
  color: black;
  text-decoration: none;
}

/*Hebergement à marseille*/

/*MostPopular*/

.homePopular {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 20px;
  max-width: 420px;
  width: 44%;
  height: 625px;
  flex-wrap: wrap;
  justify-content: center;
}

.homePopular a:link {
  color: black;
  text-decoration: none;
}

.homePopular a:visited {
  color: black;
  text-decoration: none;
}

.PopularTitle {
  display: flex;
  width: 91%;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.PopularTitle i {
  margin-left: 10px;
}

.homePopular h4 {
  margin: 42px 0px 0px 34px;
  font-size: 22px;
  font-weight: 700;
}

.fa-chart-line {
  width: 18px;
  height: 15.75px;
}

.columnHotelFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 480px;
  margin: auto;
  margin-top: 32px;
  max-width: 343px;
  width: 85%;
}

.PopularHotelflex {
  max-width: 338px;
  height: 139px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: row;
}

.PopularHotelflex:hover {
  transform: scale(1.025);
}

.homePopular img {
  max-width: 132px;
  width: 36%;
  border-radius: 20px 0px 0px 20px;
  object-fit: cover;
  border: 5px solid white;
}

.homePopular h3 {
  font-size: 16px;
  font-weight: 700;
  margin: 12px 15px 7px 15px;
}

.textPopular {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.textPopular p {
  font-size: 14px;
  font-weight: 400;
  margin: 0px 0px 0px 15px;
  flex: 1;
}

.popularIcon {
  font-size: 12px;
  margin: 0px 0px 12px 15px;
}

/*Most Popular*/

/*Activity*/

.activity {
  margin: 0px 26px 0px 26px;
  width: auto;
}

.ActivityVignetteFlex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  display: flex;
  gap: 25px;
}

.activity a:link {
  color: black;
  text-decoration: none;
}

.activity a:visited {
  color: black;
  text-decoration: none;
}

.activity h5 {
  font-size: 22px;
  font-weight: 700;
  margin: 60px 0px 18.47px 0px;
}

.activity p {
  font-size: 16px;
  font-weight: 700;
  margin: auto;
  margin-left: 15px;
}

.activityFlex {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 302px;
  height: 444.51px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.activityFlex:hover {
  transform: scale(1.025);
  transition-duration: 0.75s;
  transition-delay: 0.25s;
}

.activity img {
  width: 100%;
  height: 389px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
/*Activity*/

/*Footer*/

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  height: 225px;
  background-color: #f2f2f2;
  margin: 61px 26px 0px 26px;
  width: auto;
}

.footerFlex {
  display: flex;
  flex-direction: column;
  width: 1295px;
}

.footerFlex:nth-child(1) {
  margin-left: 70px;
}

.footerFlex:nth-child(3) {
  margin-right: 28px;
}

footer h6 {
  font-size: 18px;
  font-weight: 700;
  margin: 45px 0px 0px 0px;
}

footer ul {
  font-size: 16px;
  font-weight: 400;
  margin: 0px 0px 0px 0px;
  padding-left: 0%;
  margin-top: 20px;
}

footer li {
  margin-bottom: 12px;
}

footer a:link {
  text-decoration: none;
  color: black;
}

footer a:visited {
  color: black;
}

footer a:hover {
  color: #0065fc;
}
/*Footer*/

/*Responsive Tablette */

@media screen and (max-width: 992px) {
  .navLogo {
    margin: auto;
    max-width: 883px;
    padding: 44px 20px 63px 20px;
  }

  #logo {
    margin-left: 0%;
  }

  .nav-main {
    margin: 0%;
  }

  .nav-activity {
    padding-right: 0%;
  }

  #title {
    padding-left: 20px;
    margin: auto;
    max-width: 883px;
  }

  .search-bar {
    margin: auto;
    max-width: 905px;
    padding: 0px 0px 31px 28px;
  }

  .filtres {
    max-width: 883px;
    margin: auto;
    padding: 0px 15px 0px 20px;
  }

  .info {
    max-width: 912px;
    margin: auto;
    padding: 26px 0px 28px 32px;
  }

  .homePopularFlex {
    display: flex;
    flex-direction: column;
    gap: 53px;
  }

  .home {
    margin: auto;
    width: 96%;
  }

  .homePopular {
    height: 278px;
    max-width: 883px;
    width: 96%;
    margin: auto;
  }

  .PopularTitle {
    width: 96%;
  }

  .PopularTitle i {
  }

  .PopularTitle h4 {
    margin: 26px 0px 0px 40px;
  }

  .columnHotelFlex {
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 918px;
    width: 94%;
    height: auto;
    margin-top: 32px;
    gap: 15px;
  }

  .PopularHotelflex {
    max-width: 252px;
    width: 100%;
    height: 144px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 30%;
  }

  .homePopular img {
    width: 42%;
    max-width: 106px;
  }

  .textPopular h3,
  .textPopular p,
  .popularIcon {
    margin-left: 2px;
    margin-right: 3px;
  }

  .activity {
    margin: auto;
    max-width: 883px;
    padding-bottom: 61px;
    width: 91%;
  }

  .activity h5 {
    margin: 70px 0px 34px 12px;
  }

  .activityFlex {
    max-width: 182px;
    height: 267px;
  }

  .activity img {
    max-height: 211px;
  }

  .PortNameLong {
    margin-top: 4px;
  }

  footer {
    max-width: 879.65px;
    margin: auto;
  }
}

/*Responsive Tablette */

/*Responsive Mobile */

@media screen and (max-width: 768px) {
  .navLogo {
    display: block;
    padding-top: 21px;
    text-align: center;
    padding: 21px 0px 31px 0px;
  }

  .nav-main {
    display: flex;
    margin-top: 48.51px;
  }

  .nav-home {
    flex: 1;
    padding: 0%;
    padding-bottom: 23.09px;
    text-align: center;
    margin-right: 0px;
    border-bottom: 3px solid #f2f2f2;
  }

  .nav-activity {
    text-align: center;
    flex: 1;
    padding: 0%;
    padding-bottom: 23.09px;
    border-bottom: 3px solid #f2f2f2;
  }

  .nav-home:hover {
    padding: 0%;
    padding-bottom: 23.09px;
    border-top: 0px;
    border-bottom: 3px solid #0065fc;
  }

  .nav-activity:hover {
    padding: 0%;
    padding-bottom: 23.09px;
    border-top: 0px;
    border-bottom: 3px solid #0065fc;
  }

  #title {
    padding-left: 20px;
  }

  #search-button .fa-magnifying-glass {
    display: block;
    color: white;
  }
  .search-text {
    display: none;
  }

  .search-bar {
    margin: auto;
    padding: 0px 20px 15px 20px;
  }

  .filtres {
    flex-wrap: wrap;
    height: auto;
    align-items: center;
    justify-content: center;
    padding-left: 0%;
  }

  #filtretitle {
    flex-basis: 100%;
    padding-left: 20px;
  }

  .filtres button {
    margin: 5px;
    width: 160px;
    padding: 0%;
    font-size: 11px;
    display: flex;
    align-items: center;
    padding-left: 10px;
  }

  .filtres button:hover {
    background-color: white;
    box-shadow: 0px 0px 3px 2px white, 0px 4px 3px 2px #d9d9d9;
  }

  .filtres button:active {
    background-color: #deebff;
  }

  .iconFiltre {
    margin-right: 0%;
    font-size: 21px;
    flex-basis: 22%;
  }

  .info {
    padding: 39px 20px 17px 20px;
  }

  .homePopularFlex {
    margin: auto;
    max-width: fit-content;
    flex-direction: column-reverse;
    gap: 12px;
    padding: 0%;
  }

  .home {
    background-color: white;
    width: 100%;
    height: 1380px;
  }

  .home h2 {
    margin: 20px 20px 0px 20px;
  }

  .hotel {
    width: 90%;
    max-width: 735px;
    height: 194px;
    margin: auto;
  }

  .hotel img {
    width: 100%;
  }

  #afficherPlus {
    display: none;
  }

  .PopularHotelflex {
    max-width: 735px;
    height: 139px;
    width: 100%;
    margin: auto;
    justify-content: flex-start;
  }

  .homePopular img {
    max-width: 30%;
    min-width: 35%;
  }

  .homePopular {
    border-radius: 0%;
    height: 582px;
    width: 100%;
  }

  .columnHotelFlex {
    width: 90%;
    flex-direction: column;
    margin: auto;
    margin-top: 8px;
    height: 442px;
  }

  .textPopular {
    margin: 0px 8px;
  }

  .PopularTitle {
    margin: 28px 0px 24px 0px;
  }

  .PopularTitle h4 {
    margin: 0px 0px 0px 20px;
  }

  .PopularTitle i {
    margin-right: 0%;
  }

  .activity {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 0%;
    padding: 50px 0px 70px 0px;
    margin: auto;
  }

  .ActivityVignetteFlex {
    flex-direction: column;
    height: 830px;
    width: 100%;
    justify-content: space-around;
    gap: 0px;
  }

  .activityFlex {
    max-width: 735px;
    width: 90%;
    height: 190px;
    margin: auto;
  }

  .activity img {
    height: 134px;
  }

  .activity h5 {
    text-align: start;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 20px 20px;
  }

  .activity p {
    margin-right: 0%;
    max-width: none;
  }

  .PortNameLong {
    margin-top: 5%;
  }

  footer {
    flex-wrap: wrap;
    height: auto;
    padding-left: 20px;
    width: auto;
  }

  .footerFlex:nth-child(1) {
    margin-left: 0%;
  }

  footer h6 {
    margin-top: 40px;
  }
}

/*Responsive Mobile */
