body {
  font-family: "Raleway", sans-serif;
  width:1400px;
  margin:auto;
  
}

#logo {
  width: 61.09px;
  height: 19px;
 
}
#logo:hover {
  transform: scale(1.05);
  opacity:1;
}

.navLogo{
  margin: 44px 0px 63px 0px;
  display:flex;
  justify-content: space-between;
}


/*icon*/
.fa-solid {
  color: #0065FC;
}
/*icon*/

/*Navigation*/
.nav-home:hover {
  color: #0065fc;
  text-decoration: none;
  border-top: 2px solid #0065fc;
  padding-top: 42px;
  margin: 20px;
}

.nav-activity:hover {
  color: #0065fc;
  text-decoration: none;
  border-top: 2px solid #0065fc;
  padding-top: 42px;
  margin: 20px;
}

.nav-home {
  text-decoration: none;
  padding: 20px;
  color: black;
  margin: 20px;
}

.nav-activity {
  text-decoration: none;
  padding: 20px;
  color: black;
  margin: 20px;
}

.nav-main {
  text-align: right;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
/*Navigation*/

/*Title*/
#title h1 {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: -6px;
  

}

#title p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;


}
/*Title*/

/*Barre de recherche*/
.fa-location-dot {
  color: black;
  border: 1px solid #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  background-color: #f2f2f2;
  padding: 14px 18px;
}

.search-bar {
  display: flex;
  margin-bottom: 31px;
}

#search-text {
  padding: 12px 20px;
  border: 1px solid #f2f2f2;
  font-size: 16px;
  font-weight: 700;
}

#search-button {
  background-color: #0065fc;
  color: white;
  border: none;
  border-radius: 0px 15px 15px 0px;
  cursor: pointer;
  opacity: 0.9;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 700;
}

#search-button:hover {
  transform: scale(1.02);
  opacity: 1;
}
/*barre de recherche*/

/*Filtres*/

.filtres {
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  padding:4px 20px;
  justify-content:flex-start;
  margin: auto;

}


#filtretitle {
  
  font-weight: 700;
  font-size: 18px;
  padding: 20px
}

filtresAttribut {
  border: 2px solid #D9D9D9;
  border-radius: 60px;
  word-spacing: 5px;
 
}

.filtres button {
  background-color: white;
  border: 2px solid #D9D9D9;
  border-radius: 40px;
  word-spacing: 5px;
  cursor: pointer;
  margin: 20px;
  padding: 0px 18px 0px 18px;
  font-weight: 700;
  font-size: 16px;
}

.filtres button:hover {
  background-color: #DEEBFF;
}


.info {
  display:flex;
  flex-direction: row;
  justify-content:flex-start;
  font-weight: 400;
  font-size: 16px;
  padding:10px;
  margin:28px 0px 10px 0px;
  text-align: center;
  
}
.fa-info {
  border: 1px solid #D9D9D9;
  border-radius: 100%;
  width: 24px; 
  line-height: 24px;
  text-align: center;
  margin-right:2%;
  font-size:12px;
}
/*info*/


/*Hebergement à marseille*/

.home {
  
  Width:880px;
  Height:626px;
  background-color: #D9D9D9;
  border-radius: 20px ;
  display:flex;
  flex-wrap: wrap;
  overflow:auto;
  justify-content: space-around;
  flex-direction: row;
}


.home h2 {
  font-size:22px;
  font-weight: 700;
  align-self: flex-start;
  margin: 42px 562px 23px 40px;
}


#Cannebiere , #HotelDuPort , #HotelMouettes , #HotelMer , #AubergePanier , #HotelAmina  {

  width:246px;
  height:199px;
  overflow:auto;
  background-color: #FFF;
  border-radius: 20px;
  
  margin:20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}

#Cannebiere img, #HotelDuPort img, #HotelMouettes img, #HotelMer img, #AubergePanier img, #HotelAmina img {

  
  max-width: 100%;
  height: auto;
  padding : 5px 5px 0px 5px;
  border-radius: 20px 20px 0px 0px;
  
}

.TextHotel {
  Width:204px;
}



